<li>
    <a href="javascript:void(0)" id="home" class="menu-item">Home</a>
</li>
<li>
    <a href="javascript:void(0)" rel="tooltip" data-placement="bottom" data-original-title="Click here to create new form" id="create-form" class="menu-item">Create new form</a>
</li>
<li class="active">
    <a href="javascript:void(0)" rel="tooltip" data-placement="bottom" data-original-title="Click here to see your records" id="my-records" class="menu-item">Record Viewer</a>
</li>
<li class="dropdown">
    <a href="javascript:void(0)" id="example-editors" rel="tooltip" data-placement="bottom" data-original-title="Click here to download some example forms" class="dropdown-toggle" data -toggle="dropdown">Editors Gallery <b class="caret"></b></a>'
    <ul class="dropdown-menu" id="editors-gallery"></ul>
</li>
<li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-placement="bottom" data-original-title="Click here to download your custom forms" id="my-editors">My Editors <b class="caret"></b></a>
    <ul class="dropdown-menu" id="forms">
        <li><a href="javascript:void(0)" id="import">Import</a></li>
        <li class="divider"></li>
        <li class="nav-header" id="deditors">Editors</li>
    </ul>
</li>
<li>
    <a href="javascript:void(0)" id="layers" class="menu-item">Layers</a>
</li>
<li>
    <a href="mailto:edina@ed.ac.uk" class="menu-item">Contact</a>
</li>