<h2><img src="img/cobweb_logo.png"></h2>

<div>
   <p>
    Welcome to the COBWEB Author.
  </p>
  <p style="text-align: justify;">
    This is the desktop browser application that complements the  COBWEB Mobile App available for iPhone and iPad in the iTunes App Store and for Android in Google Play Store.
  </p>
  <p style="text-align: justify;">
    The COBWEB Author provides a web application for the generation of forms for many kinds of mobile data capture projects. After generating a data form (an editor) you can upload it to your preferred Cloud storage provider. Currently we support Dropbox only but more should follow soon. Afterwards you can download the editor to your mobile device by using the COBWEB application and use it to collect data in Great Britain. You can find the app in the Android Market or iTunes. You can capture data by using the custom form you uploaded to Dropbox and then save the data records on your device into your Dropbox account. And once you've captured data, you can come back COBWEB Author and use the Record Viewer to display, filter and graph the data you collected.
  </p>
  <br>
</div>
