<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <div class="panel-group" id="accordion"></div>
</nav>
<div class="container-map">
  <ul class="nav navbar-nav navbar-left" id="left-menu-btn">
    <li>
      <button type="button" class="btn-custom btn btn-primary btn-lg popover-hover" id="list_btn" data-content="Hide/Reveal Search Panel" data-original-title="" title="">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </li>
  </ul>
  <div id="map" style="position:relative; width:100%; height: 500px; border:1px solid #f00;"></div>
</div>