<style>#content {overflow: scroll !important}</style>

<div class="container nudge"> 
  <div class="row">
    <div class="col-md-12">
      <div class="align-left">
        <h1>Partners</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <p>
          The Energy Archipelago is a global and self-governed community energy portal that mediates inter-community networking and knowledge exchange, provides insight to the scope and nature of the community energy sector, inspires citizen engagement in the renewable energy transition and places community-led renewable energy in the public spotlight.
      </p>
      <p>
          The project was originally conceived in 2011 by Scene Consulting, at which time the virtual community energy map was called ‘Scene Connect’. After having mapped out community energy projects throughout the UK, Scene sought partners overseas to expand the initiative globally, with the hope of enabling knowledge exchange between community energy practitioners across the world. The Energy Archipelago is self-funded by its partnership.
      </p>
      <p>
          We would love to hear from you if you are interested in becoming a partner and contributing to community energy data sharing and knowledge exchange. Please get in touch at <a href="mailto:info@sceneconsulting.com">info@sceneconsulting.com</a>
      </p>
      <p>
          The organisations that are currently contributing to The Energy Archipelago are:
      </p>
      <br /><br />
      <h2>United Kingdom</h2>
      <hr />
      <img src="/images/sceneconsulting.png" style="width:220px; float:left;padding-right:20px; padding-bottom:20px;"></img> 
      <h3>Scene Consulting</h3>
      <p></p>
      <p>Scene are a social enterprise aimed to facilitate the spread of community- and
          locally owned renewable energy across the Globe. We believe that our energy
          systems form the basis of our economies, and are too important to be controlled by a
          handful of large corporations.
      </p>
      <hr />
      <img src="/images/jameshutton.png" style="width:220px; float:left; padding-right:20px; padding-bottom:20px;"></img> 
      <h3>The James Hutton Institute</h3>
      <p></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum elit nec magna molestie, eu ultrices justo dictum. Vestibulum dui nibh, feugiat ac ornare at, rhoncus eu lacus. Maecenas ut est tempor, ultricies nisl ac, commodo sapien. Sed imperdiet euismod nisl a fringilla. 
      </p>
      <hr />
      <h2>Australia</h2>
      <p></p>
      <hr />
      <img src="/images/cpa.png" style="width:220px; float:left; padding-right:20px; padding-bottom:20px;"></img> 
      <h3>Community Power Agency</h3>
      <p></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum elit nec magna molestie, eu ultrices justo dictum. Vestibulum dui nibh, feugiat ac ornare at, rhoncus eu lacus. Maecenas ut est tempor, ultricies nisl ac, commodo sapien. Sed imperdiet euismod nisl a fringilla. Curabitur dolor erat, consectetur nec rhoncus auctor, rhoncus eu velit. 
      </p>
    </div>
  </div>
</div>


